In [12]:
import pandas as pd
import shutil

In [3]:
new_labels = pd.read_csv('new_labels_1.csv')
new_labels.head()

,Unnamed: 0.1,Unnamed: 0,pth,label,relFCs,new_file_name,ext,new_file_name.1
0,0,0,anger/image0000006.jpg,surprise,0.873142,surprise0,.jpg,surprise0.jpg
1,1,1,anger/image0000060.jpg,anger,0.852311,anger0,.jpg,anger0.jpg
2,2,2,anger/image0000061.jpg,anger,0.800957,anger1,.jpg,anger1.jpg
3,3,3,anger/image0000066.jpg,disgust,0.843079,disgust0,.jpg,disgust0.jpg
4,4,4,anger/image0000106.jpg,anger,0.849108,anger2,.jpg,anger2.jpg

In [5]:
subset = new_labels[new_labels['label'].isin(['anger', 'happy', 'sad', 'surprise'])]
subset.head()

,Unnamed: 0.1,Unnamed: 0,pth,label,relFCs,new_file_name,ext,new_file_name.1
0,0,0,anger/image0000006.jpg,surprise,0.873142,surprise0,.jpg,surprise0.jpg
1,1,1,anger/image0000060.jpg,anger,0.852311,anger0,.jpg,anger0.jpg
2,2,2,anger/image0000061.jpg,anger,0.800957,anger1,.jpg,anger1.jpg
4,4,4,anger/image0000106.jpg,anger,0.849108,anger2,.jpg,anger2.jpg
5,5,5,anger/image0000132.jpg,anger,0.819448,anger3,.jpg,anger3.jpg

In [8]:
subset = subset.drop(['Unnamed: 0.1','Unnamed: 0','pth', 'relFCs', 'ext'], axis = 1)
subset.head()

      label new_file_name new_file_name.1
0  surprise     surprise0   surprise0.jpg
1     anger        anger0      anger0.jpg
2     anger        anger1      anger1.jpg
4     anger        anger2      anger2.jpg
5     anger        anger3      anger3.jpg

In [9]:
val_set = subset.sample(n=3111)
val_set.shape

(3111, 3)

In [11]:
subset = subset.drop(val_set.index)
subset.shape

(12444, 3)

In [29]:
subset = subset.rename(columns={"new_file_name.1": "file_name"})
subset.head()

   index     label new_file_name      file_name
0      0  surprise     surprise0  surprise0.jpg
1      1     anger        anger0     anger0.jpg
2      2     anger        anger1     anger1.jpg
3      4     anger        anger2     anger2.jpg
4      6     anger        anger4     anger4.jpg

In [28]:
val_set = val_set.rename(columns={"new_file_name.1": "file_name"})
val_set.head()

   index     label new_file_name         file_name
0  20172  surprise  surprise1539  surprise1539.png
1  14164     happy     happy2604     happy2604.png
2  18428  surprise  surprise1302  surprise1302.png
3  26747  surprise  surprise3612  surprise3612.jpg
4   5811       sad        sad199        sad199.png

In [20]:
val_set = val_set.reset_index()
subset = subset.reset_index()

In [23]:
val_set['new_file_name.1'][100]

'anger2866.png'

In [31]:
#val set
source = '/Users/ekurenty/code/ekurenty/visvis_data/all_new_data_copy/'
val_image = '/Users/ekurenty/code/ekurenty/visvis_data/four_expressions/images/val'

for i in range(val_set.shape[0]):
    shutil.move(f'{source}{val_set.file_name[i]}', val_image)

In [32]:
#train set
source = '/Users/ekurenty/code/ekurenty/visvis_data/all_new_data_copy/'
train_image = '/Users/ekurenty/code/ekurenty/visvis_data/four_expressions/images/train'

for i in range(subset.shape[0]):
    shutil.move(f'{source}{subset.file_name[i]}', train_image)

In [33]:
emo_dict = {
    'anger': 0,
    'happy': 1,
    'sad': 2,
    'surprise': 3,
}

In [ ]:
import os

emo_list = ['anger', 'happy', 'sad', 'surprise']

for emotion in emo_list:
    image_path = f"/Users/ekurenty/code/ekurenty/Final Project/data/images/{emotion}"
    for i in os.listdir(image_path):
        f = open(f'{image_path}/{i}.txt','x')
        f.write(f'{emo_list.index(emotion)} 0.500000 0.500000 1.000000 1.000000')
        f.close()